<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <!--
        Spring 希望管理所有业务逻辑组件
    -->
    <context:component-scan base-package="com.zxg">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--
        spring 用来控制业务逻辑
    -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>

    </bean>

    <!--
        配置事务管理
    -->
    <bean id="dataSourceTransactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
     </bean>

    <!--
        开启基于注解的事务
    -->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>
    <!--
        整合 mybatis
        目的： 1. Spring 管理所有组件。mapper 的实现类
                    service==>Dao, @Autowired: 自动注入 mapper
                2. 管理事务
    -->
    <!--
        配置 sqlSessionFactory：全类名为 org.mybatis.spring.SqlSessionFactoryBean
        Spring 会自动创建 sqlSessionFactory
    -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <!--
            指定 mapper 的文件位置
        -->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"></property>
    </bean>

    <!--
        扫描所有的 mapper 接口的实现，让这些 mapper 能够自动注入
    -->
    <mybatis-spring:scan base-package="com.zxg.dao"></mybatis-spring:scan>

</beans>